.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;  
}

:root {
    --main-background: #F2F2F2;
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-beige: #eeeeee;
    --dark-beige: #EBEBEB;
    --basic-blue: #81B3D2;
    --dark-blue: #669EC0;
    --extra-dark-blue: #5496BD;
    --basic-brown: #766357;
    --dark-brown: #604E43;
    --extra-dark-brown: #503E33;
    --basic-grey: #6A6A6A;
    --light-grey: #A9A9A9;
    --extra-light-grey: #E5E5E5;
    --container-shadow: rgba(0, 1, 1, 0.2);
    --input-shadow: rgba(0, 1, 1, 0.15);
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
    text-transform: uppercase;
    width: 1200px;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    background-color: var(--basic-white);
    box-shadow: 0px 5px 15px var(--container-shadow);
    }
    

a {
    text-decoration: none;
  }

img {
    max-width: 100%;
    height: auto;
  }

html {
    height: 100%;
    background-color: var(--main-background);
  }

.main-header {
    height: 55px;
  }

.main-header-logo {
    width: 138px;
    height: 70px; 
    position: absolute;
    top: 0;
    left: 531px;
  }

  .main-nav {
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
  position: relative;
  height: 100%;
  }

  .main-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left: 73px;
    padding-right: 73px;
    height: 100%;

  }

  .main-nav-item:nth-child(1) {
    text-align: left;
    width: 227px;
  }

  .main-nav-item:nth-child(2) {
    text-align: left;
    width: 300px;
  }

  .main-nav-item:nth-child(3) {
    text-align: right;
    width: 300px;
  }

  .main-nav-item:nth-child(4) {
    text-align: right;
    width: 227px;
  }

  .main-nav-list a {
    color: var(--basic-black);
  }

  .main-nav-list a:hover,
  .main-nav-list a:focus {
    color: var(--basic-blue)
  }

  .main-nav-list a:active {
    color: rgba(0, 0, 0, 0.3);
  }

  .current a {
    color: var(--basic-brown);
  }

  .intro {
    background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    
  }

  .intro img {
    display: block;
    padding: 0;
    padding-left: 371px;
    padding-right: 371px;
    padding-top: 77px;
    padding-bottom: 81px;
  }

  .features {
    margin: 0;
    margin-top: 42.5px;
  }

  .features-intro h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
  }

  .features-intro p {
    line-height: 26px;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
  }

  .features-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .features-item {
    text-align: center;
    padding: 0;
  }

  .features-item h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    padding: 0;
    margin: 0;
  }

  .features-item p {
    padding: 0;
    padding-top: 30px;
    margin: 0 10px;

  }

  .text-container {
    color: var(--basic-white);
    background-color: var(--basic-blue);
    padding: 45px;
  }

  .first-feature-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .feature-details {
    background-color: var(--basic-white);
    color: var(--basic-black);
  }

  .feature-datails-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

  }

  .feature-datails-item {
    padding: 45px;
  }

  .feature-datails-item h4 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    margin: 0;
    padding: 0;
  }


  .living-detail {
    background-image: url(../img/icon-1.svg);
    background-repeat: no-repeat;
  }

  .food-detail {
    background-image: url(../img/icon-2.svg);
    background-repeat: no-repeat;
  }

  .souvenir-detail {
    background-image: url(../img/icon-3.svg);
    background-repeat: no-repeat;
  }

  .second-feature-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .second-feature-grid img {
    order: -1;
  }

  .feature-345-wrapper {
    color: var(--basic-black);
    background-color: var(--basic-beige);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
   
  }

  .feature-345-wrapper .features-item {
    padding: 45px;
  }

  

  .hotel-searching h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    margin: 0;
    margin-top: 58px;
  }

  .searching-info {
    line-height: 24px;
    text-align: center;
    margin: 0;
    margin-top: 35px;
    margin-bottom: 50px;
  }

  .button {
    display: inline-block;
    font: inherit;
    font-weight: bold;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
  }

  .start-searching-button {
    display: block;
    background-color: var(--basic-brown);
    font-size: 21px;
    line-height: 26px;
    margin: 0 auto;
  }

  .start-searching-button:hover,
  .start-searching-button:focus {
    background-color: var(--dark-brown);
  }

  .start-searching-button:active {
    background-color: var(--extra-dark-brown);
    color: rgba(255, 255, 255, 0.3);
  }

  .hotel-searching img {
    margin: 0;
    margin-bottom: -120px;
  }

  .searching-form {
    display: none;
  }

  .main-footer {
    padding: 20px 73px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-filter {
    background-color: rgba(255, 255, 255, 0.9);
  }

  .footer-contacts {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    width: 320px;
  }

  .footer-contacts p {
    margin: 0;
  }


  .footer-social {
    text-align: center;
    width: 150px;
    justify-self: center;

  }

  .footer-social ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }

  .social-button {
    color: var(--basic-white);
    background-color: var(--basic-blue);
    width: 46px;
    height: 48px;
    display: inline-block;
  }

  .social-button:hover,
  .social-button:focus {
    background-color: var(--dark-blue);
  }

  .social-button:active {
    background-color: var(--extra-dark-blue);
    color: rgba(255, 255, 255, 0.3);
  }

  .social-button:active svg {
    opacity: 0.3;
  }

  .footer-copyright {
    line-height: 26px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    max-width: 250px;
    justify-self: end;
  }

  .copyright-button svg {
    fill: var(--basic-black);
  }
  .copyright-button:hover svg,
  .copyright-button:focus svg{
    fill: var(--basic-blue);
  }

  .copyright-button:active svg {
    fill: var(--light-grey);
  }

  .filters {
    background-image: url(../img/background-blur.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--basic-white);
    margin: 0;
    padding: 30px 73px;
  }

  .filter-form {
    position: relative;
  }


  .filter-grid-container {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
  }

  .filters fieldset {
    padding: 0;
    margin: 0;
    border: none;
  }

  .infrastructure-filter {
    width: 250px;
    margin: 0;
  }

  .cost-filter {
    width: 320px;
    margin: 0;
   justify-self: end;
  }

  .filter-title {
    font-weight: bold;
    font-size: 16px;
  }

  .filters ul {
    list-style: none;
  }

  .filter-input-checkbox:disabled + label {
    color: rgba(0, 0, 0, 0.3);
  }

  .filter-button {
    font-weight: normal;
    position: absolute;
    bottom: 0;
    right: 160px;

  }

  .filter-button:hover,
  .filter-button:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
  }

  .sorting-results {
    margin: 0;
    padding: 30px 73px;
    padding-right: 73px;
    display: grid;
    grid-template-columns: 160px 892px;
  }

  .sorting-results h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    margin: 0;
  }

  .sorting {
    display: grid;
    grid-template-columns: 
    min-content
    1fr
    min-content
    min-content;
  }

  .sorting h4 {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
  }

  .sorting ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .sort-item-button {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
  }

  .sort-item-button:hover,
  .sort-item-button:focus {
    color: var(--basic-blue);
  }

  .sort-item-button:active {
    color: var(--basic-black);
  }

  .sorting .current-sort {
    color: var(--basic-blue);
  }


  .sort-way svg {
    fill: #CACACA;
  }

  .sort-way:hover svg,
  .sort-way:focus svg {
    fill: var(--basic-black);
  }

  .sort-way:active svg {
    fill: var(--basic-blue);
  }

  .current-way svg {
    fill: var(--basic-blue);
  }

  .catalog {
    
  }

  .catalog-list {
    list-style: none;
    padding: 0 73px;
    margin: 0;
  }

  .catalog-item {
    padding: 0;
    padding-left: 164px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 110px;
  }

  .catalog-item-image {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30px;
    left: 0;
  }


  .catalog-item h3 {
    color: var(--basic-black);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    padding: 0;
  }

  .catalog-item-title:hover h3,
  .catalog-item-title:focus h3 {
    color: var(--basic-blue);
  }

  .catalog-item-title:active h3 {
    color: var(--basic-black);
    opacity: 0.3;
  }

  .catalog-item-info {
    background-color: var(--basic-blue);
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
  }

  .catalog-item-info:hover,
  .catalog-item-info:focus {
    background-color: var(--dark-blue);
  }

  .catalog-item-info:active {
    background-color: var(--extra-dark-blue);
    color: rgba(255, 255, 255, 0.3);
  }

  .catalog-item-booking {
    background-color: var(--basic-brown);
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
  }

  .catalog-item-booking:hover,
  .catalog-item-booking:focus {
    background-color: var(--dark-brown);
  }

  .catalog-item-booking:active {
    background-color: var(--extra-dark-brown);
    color: rgba(255, 255, 255, 0.3);
  }

  .flex-container-rating {
    height: 90px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    
  }

  .catalog-item-stars {
    align-self: flex-end;
  }

  .catalog-item-rating {
    background-color: #F2F2F2;
    text-align: center;
    margin: 0;
    padding: 0;

   
  }